@import "tailwindcss";

@theme {
  --color-truffle-700: #3d2118;
  --color-truffle-800: #251209;

  --color-matcha-600: #346820;

  --color-gold-300: #fbdc7a;
  --color-gold-500: #e8a800;

  --color-sage-100: #deeede;
  --color-sage-400: #5e9b5e;
  --color-sage-600: #2a5c2a;

  --color-cream: #fdf8f0;

  --color-peach-100: #fde8e0;
  --color-peach-300: #f7c4a8;

  --color-mauve-300: #c9a3b4;
  --color-mauve-500: #9d6b82;
  --color-mauve-700: #6f485a;

  --color-moss-400: #6f8159;
  --color-moss-600: #4c5d3f;
  --color-moss-800: #313d28;
}
